<div class="w-11/12 flex flex-col items-center my-4">
    <div class="w-full flex flex-col bg-purple-50/60 shadow-md rounded-lg py-4">
        <div class="text-purple-700 text-lg font-semibold px-4 py-2">{{job.title}}</div>
        <div class="flex items-center my-2">
            <div class="px-4 py-2 text-xs font-semibold text-green-600 uppercase">FIXED {{job.budjet}}</div>
        </div>
        <div class="px-4 py-2 text-sm text-purple-600">
            {{job.description}}
        </div>
        <div class="my-2 px-4 flex items-center">
            <div class="bg-purple-400 text-purple-800 px-4 py-px rounded-full text-xs mr-2">{{job.category_id}}</div>
            <!-- <div class="bg-purple-400 text-purple-800 px-4 py-px rounded-full text-xs mr-2">Tag</div> -->
        </div>
    </div>
</div>